<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <title>Duende IdentityServer</title>
    
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/css/vars.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="layout">
        <header>
            <a href="~/">
                <img src="~/duende-logo.svg" class="icon-banner">
                Duende IdentityServer
            </a>
        </header>
        <main>
            <section class="centered-content">
                @RenderBody()
            </section>
        </main>
        <footer>footer</footer>
    </div>
</body>
</html>
