@using Duende.IdentityServer.Extensions
@{
    #nullable enable
    string? name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}
<header>
    <nav>

        <a href="~/">
            <img src="~/duende-logo.svg" class="icon-banner">
            Duende IdentityServer
        </a>

        @if (!string.IsNullOrWhiteSpace(name))
        {
            <ul>
                <li>
                    <a href="#">@name <b></b></a>
                    
                    <div>
                        <a asp-page="/Account/Logout/Index">Logout</a>
                    </div>
              </li>
            </ul>
        }
    
    </nav>
</header>
