@page
@model TestDuende.IdentityServer.Pages.Login.Index

<section class="login-page">
    <div >
        <h1>Login</h1>
        <p>Choose how to login</p>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">

        @if (Model.View.EnableLocalLogin)
        {
            <div>
                <div>
                    <div>
                        <h2>Local Account</h2>
                    </div>

                    <div>
                        <form asp-page="/Account/Login/Index">
                            <input type="hidden" asp-for="Input.ReturnUrl" />

                            <div>
                                <label asp-for="Input.Username"></label>
                                <input placeholder="Username" asp-for="Input.Username" autofocus>
                            </div>
                            <div>
                                <label asp-for="Input.Password"></label>
                                <input type="password" placeholder="Password" asp-for="Input.Password" autocomplete="off">
                            </div>
                            
                            @if (Model.View.AllowRememberLogin)
                            {
                                <div>
                                    <div class="form-check">
                                        <input asp-for="Input.RememberLogin">
                                        <label asp-for="Input.RememberLogin">
                                            Remember My Login
                                        </label>
                                    </div>
                                </div>
                            }
                            
                            <button name="Input.Button" value="login">Login</button>
                            <button name="Input.Button" value="cancel">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>